<!DOCTYPE html>
<html>
<head>
	<title>todo</title>
	<link rel="stylesheet" href="/assets/style.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/todo.js"></script>
</head>
<body>
	<div id="todo-table">
		<form action="">
			<input type="text" name="item" id="ip">
			<button type="submit">Add Item</button>
		</form>
		<ul>
			<% for(var i=0; i<todos.length; i++){ %>
			<li class="todo-li"><%= todos[i].item %></li>
			<% } %>
		</ul>
	</div>
</body>
</html>